body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: scroll;
}

header {
    background-color: #3EBFFF;
    width: 100vw;
    height: 570px;
    background-image: url('../images/mobile/image-header.jpg');
    background-position: bottom;
    background-size: 400px 550px;
    background-repeat: no-repeat;
}

#head-nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#head-nav a {
    text-decoration: none;
    color: white;
}

#head-nav li {
    list-style: none;
}

#menu-list {
    display: none;
}

#head-section {
    text-align: center;
    margin-top: 70px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#head-p {
    height: 100px;
    letter-spacing: .4rem;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 300px 450px 300px 450px 590px 570px;
    grid-template-areas: "egg" "transf" "cup" "stand" "graphic" "photo"
}

#main-tr-img {
    grid-area: egg;
    overflow: hidden;
    text-align: center;
    background-color: #FED000;
    background-image: url('../images/desktop/image-transform.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#main-tr-img img {
    width: 375px;
}

#main-tr-text {
    grid-area: transf;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-st-img {
    grid-area: cup;
    overflow: hidden;
    text-align: center;
    background-color: #FE786C;
}

#main-st-img img {
    width: 375px;
}

#main-st-text {
    grid-area: stand;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-t{
    text-align: center;
    margin-top: 50px;
    padding: 0px;
}

#main-graphic-text {
    grid-area: graphic;
    background-image: url('../images/mobile/image-graphic-design.jpg');
    background-size: 375px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9CDCCC;
    text-align: center;
    padding: 400px 20px 40px 20px;
    color: hsl(167, 40%, 24%);
}

#main-ph-text {
    grid-area: photo;
    background-image: url('../images/mobile/image-photography.jpg');
    background-position: center;
    background-size: 375px;
    background-repeat: no-repeat;
    background-color: #65CDFF;
    text-align: center;
    padding: 400px 20px 40px 20px;
}

#learn-more-tr:hover{
    color: #FED000 !important;
    cursor: pointer;
}
#learn-more-st:hover{
    color: #FE786C !important;
    cursor: pointer;
}

footer li:hover{
    color: white !important;
    cursor: pointer;
}

footer svg:hover{
    cursor: pointer;
    background-color: white !important;
}

.main-title {
    margin-bottom: 20px;
}

.main-learn-more {
    font-weight: bold;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    width: 100%;
    text-align: center;
    color: #302e33 !important;
    font-size: 1.2rem !important;
}

#section-client-t {
    padding: 60px 20px;
    text-align: center;
}

#section-client-t img {
    border-radius: 50%;
    width: 80px;
}

#section-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    background-color: #90D4C5;
    color: #1e1d20;
    text-align: center;
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
}

.client-div{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

footer li {
    list-style: none;
    color: hsl(168, 34%, 41%);
    font-family: "Barlow";
}

footer ul {
    margin-top: 15px;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

#footer-title {
    font-family: "Barlow";
    font-weight: bold !important;
    font-size: 2rem;
    color: hsl(168, 34%, 41%);
}

#social-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.barlow-text {
    font-family: "Barlow";
    font-size: 1.7rem;
    font-weight: bolder;
}

.fraunces-text {
    font-family: "Fraunces";
    font-weight: bold;
    font-size: 2.6rem;
}

#stand-title {
    font-size: 1.9rem;
    color: #302e33 !important;
}

#stand-text {
    font-size: 1.1rem;
    font-weight: 0;
    color: rgb(128, 128, 128);
    line-height: 2rem;
}

#trans-title {
    font-size: 1.9rem;
    color: #302e33 !important;
}

#trans-text {
    font-size: 1.1rem;
    font-weight: 0;
    color: rgb(128, 128, 128);
    line-height: 2rem;
}

#graphic-title {
    font-size: 2rem;
}

#graphic-p {
    font-family: "Barlow";
}

#ph-title {
    font-family: 'Fraunces';
    font-weight: bold;
    font-size: 2rem;
    color: hsl(198, 62%, 26%);
}

#ph-p {
    font-family: 'Barlow';
    color: hsl(198, 62%, 26%);
}

#title-t {
    font-family: "Fraunces";
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    color: rgba(128, 128, 128, 0.719);
}

.client-text {
    font-family: 'Barlow';
    color: grey;
}

.client-name {
    font-family: "Fraunces";
    font-weight: bold;
}

.client-prof {
    color: rgba(128, 128, 128, 0.548);
    font-family: 'Barlow';
}

#contact-button-mobile{
    background-color: #FED000;
    padding: 15px;
    border-radius: 30px;
    color: #302e33 !important;
}

#menu-list-mobile li a{
    color: #424242 !important;
}

#menu-list-mobile{
    display: none;
    width: 85%;
    z-index: 10;
    padding: 30px;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 8%;
    background-color: white;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "Barlow";
    font-size: 1.1rem;
}

@media screen and (min-width: 377px) {
    #main-graphic-text {
        background-image: url('../images/desktop/image-graphic-design.jpg');
        background-position: top;
        background-size: 700px;
    }
}

@media screen and (max-width: 320px) {
    #main-st-img img{
        width: 320px;
    }

    #main-tr-img img{
        width: 320px;
    }
    
}



@media screen and (min-width: 1024px) {

    #trans-title{
        text-align: left;
        width: 450px;
        font-size: 2.7rem;
    }
    #trans-text{
        width: 450px;
        text-align: left;
        margin-top: 25px;
    }

    #stand-title{
        width: 450px;
        text-align: left;
        font-size: 2.7rem;
    }
    #stand-text{
        width: 450px;
        text-align: left;
        margin-top: 25px;
    }

    .main-learn-more{
        text-align: left;
        width: 450px;
        margin-top: 20px;
    }
    

    #ph-p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        text-align: center;
        line-height: 1.6em;
    }

   .main-div-p{
       display: flex;
       justify-content: center;
   }

    #graphic-p{
        line-height: 1.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        text-align: center;
    }

    #section-client-t{
        align-items: top;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 55px;
    }  
}

@media screen and (min-width: 413px) {
    header{
        background-image: url('../images/desktop/image-header.jpg');
        background-size: 100vw;
    }

    .client-text{
        width: 300px;
    }
    
}

@media screen and (min-width: 768px) {
    header{
        background-image: url('../images/desktop/image-header.jpg');
        background-size: contain;
    }

    #menu-list{
        display: flex;
        gap: 45px;
        flex-direction: row;
        font-family: "Barlow";
    }
    #hamb-menu{
        display: none;
    }
    #contact-button{
        background-color: white;
        color: #1e1d20 !important;
        padding: 10px;
        border-radius: 20px;
    }
    #contact-button:hover{
        background-color: #83d6ff;
        color: white !important;
    }
    #head-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        grid-template-areas: "transf egg"
                            "cup stand"
                            "graphic photo"
    }
    #main-tr-img img{
        src: url("../images/desktop/image-transform.jpg");
        width: 100%;
    }
    #main-st-img img{
        src: url("../images/desktop/image-stand-out.jpg");
        width: 100%;
    }
    #section-images img{
        width: 25%;
    }
    #title-t{
        font-size: 1.2rem;
        margin-bottom: 300px;
    }

    .client-text{
        width: 300px;
        line-height: 1.6em;
    }
    
}

